.underline {
    text-decoration: underline;
}

.number {
    color: olive;
    font-style: italic;
}

.small {
    font-size: small;
    font-style: italic;
}

.small-num {
    color: olive;
    font-style: italic;
    font-size: small;
} 

.it {
    font-style: italic;
}

.in {
    text-indent: -4em;
}
